<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Weather Home</title>
      {{>link}}
   </head>
   <body>
      <div class="glassContainer">
         <form action="" class="inputLocation">
            <input type="text" spellcheck="false" class="Formlocation" id="Formlocation" Value="Chennai" placeholder="Location">
            <button class="search"  type="submit"><img src="./svg/search.svg" alt="Search" srcset="" width=20></button>
         </form>
         <br>
         <div class="flex-box">
            <div class="wrapper hero-1 ">
               <p class="time" id="time"></p>
               <p class="date" id="date"></p>
            </div>
            <div class="wrapper hero-2">
               <p id="city" class="city"></p>
               <div class="wrapper2" style="text-align:right;">
                  <p id="state"></p>
                  <p id="country"></p>
               </div>
            </div>
         </div>
      </div>
      {{!-- 
      <div class="glassCard">
         <p id="location" class="location"></p>
      </div>
      --}}
      <div class="metrics">
         <p id="temp_c" class="day"></p>
         <img id="weatherSVG" class="day" src="./svg/day.svg" alt="" srcset="" width=200></img>
         <div class="wrapper">
            <p id="temp_c" class=""></p>
         </div>
         <div class="wrapper">
            <p id="city"></p>
         </div>
         <div class="wrapper">
            <p id="state"></p>
         </div>
         <div class="wrapper">
            <p id="country"></p>
         </div>
         <div class="wrapper">
            <p id="msg"></p>
         </div>
         <div class="wrapper">
            <p id="svg"></p>
         </div>
         <div class="wrapper">
            <p id="uv"></p>
         </div>
         <div class="wrapper">
            <p id="humidity"></p>
         </div>
         <div class="wrapper">
            <p id="feelslike_c"></p>
         </div>
      </div>
      <script src="/js/app.js"></script>
   </body>
</html>